name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request and release events
  pull_request:
  release:


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.6']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true
      - name: Install Python packages
        run: |
          pip install mypy pytest flake8 maturin
      - name: Build ulist
        run: |
          maturin build --out dist -m ulist/Cargo.toml
      - name: Install ulist
        run: |
          pip install ulist --no-index --find-links dist --force-reinstall 
      - name: Python UnitTest
        run: |
          cd tests
          sh run.sh


  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true
      - name: Install Python packages
        run: |
          pip install mypy pytest flake8 maturin
      - name: Build ulist
        run: |
          maturin build --out dist -m ulist/Cargo.toml
      - name: Install ulist
        run: |
          pip install ulist --no-index --find-links dist --force-reinstall 
      - name: Python UnitTest
        run: |
          cd tests
          sh run.sh
